body {
  background-image: none;
}
 .navbarAcercaDeMi nav {

  background-color: rgba(5, 5, 44, 0.808)  !important ;
  position: fixed;
  width: 100%;
  padding: 0%;
  display: flex;
  transition: ease-out .45s ;
  z-index: 1;
  overflow-x: hidden;
}

.imgAboutMe {
  position: relative;
  display: flex;
  margin-top: 15vh;
  margin-left: 5vw;
  height: 65vh;
}

.textAbouMe {
  display: flex;
 margin-right: 10vh;
 padding-left: 10vw;
 border: none;
}

 .card  {
  border: none;
}



.despedidaAboutMe {
margin-left: 40vw;
}



.tecnosAboutMe {
  position: absolute;
  margin-top: 40vh;
  margin-left: 22vw;
  
  
}

.tecnosAboutMe h5 {
  margin-left: 5vw;
  margin-top: -5vh;
 display: flex;
 
}

.acercaDeMiFooter {
  position: relative;
  margin-top: 150vh;
  background-color: black;
  color: aliceblue;
  overflow-x: hidden;
  }
 

@media (max-width: 600px) {
  .textAbouMe {
    display: flex;
   margin-top: 67vh;
   position: absolute;
   overflow-x: hidden;
   font-size: medium;
   padding-left: 5vw;
  
  }

.navbarAcercaDeMi nav {
  z-index: 1;
}

.tecnosAboutMe {
  position: absolute;
  margin-top: 150vh;
  margin-left: 0vw;
 padding-left: 5vw;
}
.tecnosAboutMe h3{
  padding: 10%;
 font-size: medium;

}

.tecnosAboutMe h5  {
  margin-left: 0vw;
  margin-top: 2vh;
 display: flex;
 font-size: smaller;
}

.acercaDeMiFooter {
  margin-top: 260vh;
  background-color: black;
  color: aliceblue;
  overflow-x: hidden;
  width: 100%;
  }
}