body {
  font-family: 'Roboto', sans-serif;
}

.home {
  background-image: url('../assets/homeBack.png');
  background-size: cover;
  height: 100%;
  width: 100%;
  position: relative;
  overflow-x: hidden;
 
}



.navbarTransparent nav {
  background-color: transparent !important ;
  font-style: white !important;
  position: fixed;
  opacity: .9;
  width: 100%;
  padding: 0%;
  display: flex;
  transition: ease-out .3s ;

}
.navbarColored nav {
  background-color: transparent !important ;
  position: fixed;
  opacity: .9;
  width: 100%;
  padding: 0%;
  display: flex;
  transition: ease-in .2s ;
  
}


.phrase {
  position: absolute;
  display:flex;
  margin-top: 50vh;
  margin-left: 10vw;
  color: whitesmoke;
  font-size: 2em;
  font-family: 'Manrope', sans-serif;
  font-weight: 900;
}

.phrase h2 {
  font-weight:lighter;
  margin-right: 5vw;
}

.backColor {
  color: beige !important;
  background-color: transparent;
  width: 100%;
  margin-top: 105vh;

}

.buttonSurprise {
  position: absolute;
  font-size:medium;
  color: transparent;
  margin-top: 25vh;
  margin-left: 35vw;
  

}

.buttonSurprise:hover {
  color: blue;
  
  
}







