
.navbarPortfolio nav {
   
  background-color: rgba(5, 5, 44, 0.808) !important ;
  position: fixed;
  width: 100%;
  padding: 0%;
  display: flex;
  transition: ease-out .45s ;
  z-index: 2;
  overflow-x: hidden;
}


  .portafolioFooter {
    background-color: black;
    color: whitesmoke;
  }


  .consultaBackground {
    background-image: url('../assets/consultaFitBackImage.png');
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    overflow-x: hidden;
   }

  .consultaGif {
    width: 55%;
    position: absolute;
    z-index: 1;
    display: flex;
    margin-left: 5vw;
    margin-top: 30vh;
    overflow-x: hidden;
  
  }


  #consultaTitle {
    position: absolute;
    display: flex;
    margin-top: 30vh;
    margin-left: 63vw;
    color: rgb(233, 67, 67);
    font-family: 'Dynalight';
    font-weight: 600;
    font-size: 4em;
    
  }

  #consultaParagraph {
    position: absolute;
    overflow-x: hidden;
    display: flex;
    margin-top: 43vh;
    margin-left: 55vw;
    padding-right: 5%;
    color: whitesmoke;
  }


  .calendarBackground {
    background-image: url('../assets/calendarAppBackImage.png');
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    overflow-x: hidden;
  }


  .calendarGif {
    width: 50%;
    position: absolute;
    z-index: 1;
    display: flex;
    margin-left: 5vw;
    margin-top: 30vh;
    overflow-x: hidden;
  }

  #calendarAppTitle {
    position: absolute;
    display: flex;
    margin-top: 30vh;
    margin-left: 63vw;
    color: rgb(39, 84, 231);
    font-family: 'Dynalight';
    font-weight: 600;
    font-size: 4em;
  }

  #calendarAppParagraph {
    position: absolute;
    overflow-x: hidden;
    display: flex;
    margin-top: 43vh;
    margin-left: 55vw;
    color: white;
    padding-right: 5%;
  }



  
  @media (max-width: 600px) {

    .consultaBackground {
      background-image: url('../assets/consultaFitMedia.gif');
      width: 100%;
      min-height: 25vh;
      margin-top: 10vh;
      overflow-x: hidden;
     }
  
    .consultaGif {
      display: none;
    }
  
    #consultaTitle {
      position: absolute;
      display: flex;
      margin-top: 35vh;
      margin-left: 25vw;
      color: rgb(233, 67, 67);
      font-family: 'Dynalight';
      font-weight: 600;
      font-size: 2.5em;
      
    }
  
    #consultaParagraph {
      position: absolute;
      overflow-x: hidden;
      display: flex;
      margin-top: 45vh;
      margin-left: 5vw;
      margin-right: 3vw;
      padding-right: 5%;
      padding-left: 5%;
      color: black;
    }
  
  
    .calendarBackground {
      background-image: url('../assets/calendarAppMedia.gif');
      width: 100%;
      min-height: 25vh;
      margin-top: 85vh;
      overflow-x: hidden;
    }
  
  
    .calendarGif {
    display: none;
    }
  
    #calendarAppTitle {
      position: absolute;
      display: flex;
      margin-top: 40vh;
      margin-left: 25vw;
      color: rgb(39, 84, 231);
      font-family: 'Dynalight';
      font-weight: 600;
      font-size: 2.5em;
    }
  
    #calendarAppParagraph {
      position: absolute;
      overflow-x: hidden;
      display: flex;
      margin-top: 50vh;
      margin-left: 5vw;
      margin-right: 3vw;
      padding-right: 5%;
      padding-left: 5%;
      color: black;
    }

    .portafolioFooter {

      margin-top: 90vh;
    }
}